.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

section{
  font-family: 'Futura PT', 'Futura', 'Trebuchet MS', Arial, sans-serif; 
  padding: 25px 50px;
}